.chatinput{
  width: 100%;
  max-width: 550px;
  min-width: 250px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid;
  margin: auto;
  font-size: 16px;
}

input:focus {
  outline: none;
  padding: 5px;
}

.inputpanel {
  display: flex;
  background: lightgray;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 15px;
  padding-bottom: 15px;
}

