.chatinput{
  width: 100%;
  max-width: 520px;
  min-width: 250px;
  height: 40px;
  border-radius: 25px;
  border: 1px #2095FE;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
}

input{
  padding-left: 15px;
  padding-right: 15px;
}

input:focus {
  outline: none;
}

.inputpanel {
  display: flex;
  background: #2095FE;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 15px;
  padding-bottom: 15px;
}

