.chatinput{
  width: 100%;
  max-width: 470px;
  min-width: 230px;
  height: 40px;
  border-radius: 25px;
  border: 1px #2095FE;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
}

input{
  padding-left: 15px;
  padding-right: 47px;
}

input:focus {
  outline: none;
}

.inputpanel {
  display: flex;
  background: #2095FE;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 15px;
  padding-bottom: 15px;
}


button{
  position:absolute;
  top: 15px;
  border:none;
  height:42px;
  width:42px;
  border-radius:100%;
  outline:none;
  text-align:center;
  font-weight:bold;
}

button:hover{
  cursor:pointer;
}


