
.message {
  border-radius: 50px;
  margin: 0px 10px 10px;
  padding: 10px 15px;
  position: relative;
  font-weight: bold;
  display: inline-flex;
}
.message.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 100px;
  text-align: right;
  float: right;
}
.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 100px;

}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
}


.avatar{
  width: 50px;
}

.avatar-box {
  width: 15%;
  text-align: center;
  font-size: 10px;
  font-weight: normal;
}

.text-box {
  width: 85%;
  padding: 10px;
  font-size: 16px;
}
